@model CityInformation.Models.županija

@{
    ViewBag.Title = "Brisanje županije";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<br />
<br />
<h2 class="text-center">Brisanje županije iz baze</h2>

@using (Html.BeginForm("DeleteŽupanija", "Administrator", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.idŽupanija)
    <hr />
    <h2 class="text-center">Jeste li sigurni da želite obrisati ovu županiju iz baze?</h2>
    <center>
        <h3>Ime županije: @Model.imeŽupanija</h3>
    </center>
    <br />
    <div class="form-group">
        <div class="col-md-12 text-center">
            <input type="submit" value="Potvrdi brisanje" class="btn btn-primary" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Natrag", "GlavniMeni")
</div>
